
 <% layout('../layout/defaultlayout') -%>
 <script>


 </script>

<div class="container">

<H3>회원목록</H3>
        <ol>
        <% data.forEach(function(val){ %>
            <li><%= val.username %></li>
        <% }) %>
        </ol>

</div>
