
 <% layout('./layout/defaultlayout') -%>
 <script>
    $(document).ready(function() {

        //조회 
        $("#btnSeach").on('click',function(){
            callSearch();
        });
    });
     
    function callSearch(){
        alert('search');
    }

 </script>
<div class="container">
    <h3>청춘 따뜻한 인간은 ... <small> 청춘예찬 </small></h3>
    <blockquote>
        <p>
            아름답고 보배를 방황하였으며, 따뜻한 그러므로 이상 못할 기관과 운다. 인간의 그들은 이상을 있음으로써 하였으며, 석가는 너의 것이 그리하였는가? 들어 대한 구하기 아니더면, 위하여, 별과 전인 스며들어 낙원을 말이다. 그들에게 사랑의 풀밭에 운다. 모래뿐일 뜨거운지라, 할지라도 때에, 긴지라 남는 위하여 아름다우냐? 과실이 뛰노는 속잎나고, 설산에서 풀이 그리하였는가? 꾸며 피어나기 것이 살았으며, 것이다. 없는 구할 튼튼하며, 목숨을 봄날의 것이다. 커다란 피가 인생에 말이다.
        </p>        
        <p>
            청춘 따뜻한 인간은 가진 창공에 그림자는 속에서 그들을 봄바람이다. 실로 작고 창공에 설산에서 소리다.이것은 크고 피고, 약동하다. 품었기 것은 위하여 심장은 청춘 원질이 일월과 지혜는 곧 것이다. 구하지 우리 밥을 모래뿐일 긴지라 보라. 평화스러운 같지 피고 가진 때에, 인간에 너의 말이다. 같이, 미묘한 원대하고, 곳으로 그들은 품고 그들은 그들을 칼이다. 얼마나 인간은 새가 석가는 커다란 피는 것이다. 살았으며, 목숨을 옷을 봄바람을 그들의 인도하겠다는 그들의 갑 뿐이다. 길지 꽃이 끝에 군영과 인류의 피고 웅대한 끓는다. 뭇 무엇을 놀이 웅대한 바이며, 그것을 같이 피부가 소리다.이것은 것이다.
        </p>
        <p>
            그들을 뜨고, 같지 행복스럽고 있는가? 속에 대한 있으며, 불러 이상 있을 인간은 있는 우리 황금시대다. 보는 커다란 주며, 청춘 사라지지 있음으로써 못하다 생생하며, 유소년에게서 아름다우냐? 그들의 인도하겠다는 인생의 피부가 투명하되 있는가? 자신과 있을 이상의 든 이상을 것이다. 피가 내는 군영과 피가 것이다. 원대하고, 살았으며, 많이 자신과 피가 생생하며, 따뜻한 이성은 있다. 구하지 온갖 방지하는 방황하였으며, 그것은 전인 보이는 쓸쓸하랴? 얼음 싹이 미인을 투명하되 눈에 황금시대다. 영락과 쓸쓸한 같은 얼음이 뜨거운지라, 것은 불러 곧 뿐이다.
        </p>
        <p>
            별과 우리의 있을 봄바람이다. 사랑의 무엇을 무엇을 스며들어 운다. 크고 그림자는 밝은 이상의 용기가 곳이 속잎나고, 사람은 약동하다. 가지에 얼마나 아름답고 역사를 인간의 생명을 청춘을 듣는다. 충분히 피가 끓는 동산에는 이상을 끝에 위하여 풀이 것이다. 이상의 그들의 유소년에게서 인생에 것이다. 것은 청춘을 찬미를 천고에 타오르고 인생의 이것이야말로 천지는 것이다. 이것이야말로 옷을 가치를 이것은 평화스러운 날카로우나 철환하였는가? 갑 우리 우리의 위하여서, 힘차게 것이다. 낙원을 안고, 보이는 청춘 그것을 거친 얼마나 석가는 가슴이 때문이다. 그와 할지라도 이것은 일월과 운다.        
        </p>
        <footer>청춘예찬중에서 <cite title="Source Title">입숨</cite></footer>
    </blockquote>
 

</div>