
 <% layout('../layout/defaultlayout') -%>
 <script>


 </script>

<H1>로그인</H1>

<p><ol>
<% data.forEach(function(val){ %>
    <li><%= val.userid %></li>
<% }) %>
</ol></p>

<p><a class="btn btn-primary btn-lg" href="/login/signup" role="button">회원가입</a></p>