
 <% layout('../layout/defaultlayout') -%>
 <script>


 </script>



<p><ol>

<div class="container">
    <div class="login">
        
        
        
        <form action="/login" method="post" name="frm_login" id="frm_login">
            <H2 class="text-center">로그인</H2>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"></span>
                <input type="text" class="form-control" placeholder="UserID" aria-describedby="sizing-addon2" name = "username" id = "username">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"></span>
                <input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon2" name = "password" id = "password">
            </div>
            <% if(loginmessage != ''){ %>
                <div class="alert alert-warning text-center" role="alert"><%= loginmessage%></div>
            <% } %>
            

           
             
           
            <!-- <div class="text-center">
                <span class="label label-warning"></span>
            </div> -->
            <div class="text-center">
                <input type="submit" class="btn btn-primary btn-sm" value="Login"/>
                <a class="btn btn-info btn-sm" href="/login/signup" role="button">회원가입</a>
            </div>

        </form>
    </div>    
    
</div>
