
 <% layout('../layout/defaultlayout') -%>
 <script>
    $(document).ready(function() {

        //조회 
        $("#btnSave").on('click',function(){
            callSave();
        });
    });
        
    function callSave(){

        var $form = $('form[name="frmreg"]');
        var params = $form.serializeObject();//.serialize();

        $.ajax({
				url:'/api/signup',
                type : 'post',                
                dataType: 'json',
                contentType:"application/json",                
                data : JSON.stringify(params),                
				//cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){
                    if (res.resultcode == '200'){
                        alert("회원가입되었습니다.")
                        document.location.href = '/';
                        return false;
                    }
                    if (res.resultcode == 'E01'){
                        alert("해당아이디는 이미존재합니다. 다른 아이디를 사용하세요");
                        return false;
                    }
                     alert("에러발생 에러코드 code: " + res.resultcode + " 에러메세지 :" + res.resultmsg);
					// if (!Ajax.checkResult(res)) {
					// 	return;
					// }
					//alert('저장되었습니다. ');
					//init();
					//callList(1);


				}

            });
            
        
    }
</script>
<style>
    
</style>

<div class="container">
    <div class="page-header">
        <h3>회원가입</h3>            
        
    </div> 
    <div class="sigiup">
        <form name = "frmreg">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"></span>
                <input type="text" class="form-control" placeholder="Userid" aria-describedby="sizing-addon2" name = "userid" id  = "userid">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"></span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" name = "username" id = "username">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"></span>
                <input type="text" class="form-control" placeholder="E-Mail" aria-describedby="sizing-addon2" name = "useremail" id = "useremail">
            </div>
            <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2"></span>
                    <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2" name = "password" id = "password">
                </div>
            <div class="text-right">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" id ="btnSave">저장</button>
                    <button type="button" class="btn btn-warning">취소</button>
                </div>
            </div>
            
        </form>
    </div>
</div>