<div class="container">
    <header id="header">
        
        <span class ="glyphicon glyphicon-home"></span>
        <nav id="nav">
            
            <ul class="nav nav-pills">
                <li role="presentation" ><a href="/">Home</a></li>
                <li role="presentation"><a href="/dashboard">Dashboard</a></li>
                <li role="presentation"><a href="/login">login</a></li>
            </ul>
                
        </nav>
    </header>
</div>
