<div class="container">
    <header id="header">
        
        <span class ="glyphicon glyphicon-home"></span>
        <nav id="nav">
            
            <ul class="nav nav-pills">
                <li role="presentation" ><a href="/">Home</a></li>
                <li role="presentation"><a href="/dashboard">Dashboard</a></li>
                <% if(user){ %>                   
                   <li role="presentation"><a href="/login/mypage"><%= user.username%></a></li>                   
                <% } else { %>
                    <li role="presentation"><a href="/login">login</a></li>
                <% }  %>
                <li role="presentation"><a href="/logout">logout</a></li>
            </ul>
                
        </nav>
    </header>
</div>
