<head>

    <meta charset="utf-8">    
    <title>nodejs-ejs-dashborad</title>
    
    <!-- jquery -->
    <script src='/js/jquery-3.4.1.min.js'></script>
    
    <!-- bootstrap/3.3.2 CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">    
    <script src="/js/bootstrap.min.js"></script>

    <script>
       
        $().ready(function() {
            $('li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
        });

        jQuery.fn.serializeObject = function() {
            var obj = null;
            try {
                if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                    var arr = this.serializeArray();
                    if (arr) {
                        obj = {};
                        jQuery.each(arr, function() {
                            obj[this.name] = this.value;
                        });
                    }//if ( arr ) {
                }
            } catch (e) {
                alert(e.message);
            } finally {
            }
        
            return obj;
        };


    </script>
    

</head>
    
    
    